# Configs
config.txt

# Database
participants.db

# Log reports
.psiturk_history
server.log

# Editor
.vscode

# Experiment data
*.csv

# Python packages
__pycache__/

# Assets
data/scenes/
data/test_assets/
db/
experiment_data/
data/training_results/
data/hit_data/video/

# Temp files
.DS_Store

# Local scripts
approve_assignments.py
upload_hits_to_s3.py
