
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300; 
    font-size: 13pt;
    max-width: 100%;
    overflow-x: hidden;
}

#container {
  width:100%;
  position:relative;
}

#controls {
  color: white;
  margin-bottom:1em;
  text-align:center;
}

/* text assistance */
#text-assistance-1, #text-assistance-2 {
  display:inline-block;
  position:absolute;
  top:3em;
  width:calc(45% - 320px);
  text-align:left;
}

#text-assistance-1 img, #text-assistance-2 img, #status img {
  height:3em;
}

#text-assistance-1 s, #text-assistance-2 s {
  opacity: 50%;
}

#text-assistance-1 {
  left:0;
  margin-left:1em;
}
#text-assistance-2 {
  right:0;
  margin-right:1em;
}


/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

h1 {
  margin-top: 0px;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-error, #container-consent, #container-instructions {
    background: white;
    margin: 30px;
}

#container-exp, #container-questionnaire {
  background: #2f363f;
  color: white;
  padding: 30px;
  font-size:15px;
  overflow-x: hidden;
}

.instructions {
  color:#444444;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}
