<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
			To make you acquainted with the environment, we will next show you a flythrough video.
			The information such as type of the action taken by agent will be displayed at the top during the flythrough for further clarity.
			The task instruction for flythrough will be displayed at the top for clarity on what task agent is performing.
	    </p>
	    
        <p>
        	Please click the Start button when you are ready!
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-12">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Start <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
        </div>
    </div>

</div>
