<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
			To make you acquainted with the environment, we will next show you a flythrough video. Please pay special attention to the written information above the video, which includes information such as the task being performed by a robot. It will also show the actions taken by the robot to complete the task.
	    </p>
	    
        <p>
        	Please click the Next button when you are ready.
		</p>
		
		<p>
			Please use the Skip button to skip the flythrough if you have already seen it.
		</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />

</div>
