<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
			To make you acquainted with the 3D house environment, we will next show you a flythrough video.
	    </p>
	    
        <p>
        	Please click the Next button when you are ready.
		</p>
		
		<p>
			Please use the Skip button to skip the flythrough if you have already seen it.
		</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />

</div>
