<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>This is the second stage of this HIT. This is your chance to become acquainted with the keyboard controls and the environment!
             For this, complete the task instruction on top of the environment screen.</p>

        <div>
            <p>
                To navigate through the room and pick/place items, you can use the following keyboard controls:
                <ul>
                    <li>W: To move forward</li>
                    <li>S: To move backward</li>
                    <li>Spacebar: Pick up an item/place the picked item back</li>
                </ul>
            </p>
        </div>

        <div>
            <p>
                You can look around using the following keyboard controls:
                <ul>
                    <li>Left arrow/A: Turn left</li>
                    <li>Right arrow/D: Turn right</li>
                    <li>Up arrow: Look up</li>
                    <li>Down arrow: Look down</li>
                </ul>
            </p>
        </div>
    
        <p> Please note that you can’t walk through walls, furniture or objects.</p>
        <p> When you pick up an item to carry it to another location, it will be displayed in your inventory menu at the bottom of the screen.
             Note that you can only carry one item at a time! </p>
        <p> To pick up any object you have to point the crosshair which is at the center of the camera to the object you want to grab.
            If you are within <b>1.5m</b> of the object you'll see a bounding box around the object which indicates that you can grab the object.
            If you try to grab a second object simultaenously the first object which was picked up will be dropped.
            Also note that objects not highlighted are not pickable. You have to be close enough to an object to be able to pick it up.
                Try moving closer to the object if you are unable to pick it up.
                If you point the crosshair at a location within <b>1.5m</b> radius of agent position the object will be placed at the location pointed by crosshair.
                Otherwise the object will be dropped <b>1m</b> in front of the agent position from a height of <b>1.5m</b>.
        </p>
        
        <p>The task is given as a instruction at the top of the experiment page.</p>
    
        <p>Please click the Next button when you are ready!</p>

        <p>
			Please use the Skip button to skip the training task if you have already completed it!
		</p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

</div>
