<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            This is the second stage of this HIT.
        </p>

        <div>
            <p>
                To navigate through the room and pick/place items, you can use the following keyboard controls:
                <ul>
                    <li>W: To move forward</li>
                    <li>Space: Pick up an item/place the picked item back</li>
                </ul>
            </p>
        </div>

        <div>
            <p>
                You can look around using the following keyboard controls:
                <ul>
                    <li>Left arrow/A: Turn left</li>
                    <li>Right arrow/D: Turn right</li>
                    <li>Up arrow: Look up</li>
                    <li>Down arrow: Look down</li>
                </ul>
            </p>
        </div>

        <p> Note that you can’t walk through walls, furniture or objects.</p>
        <p> To pick up any object you have to point the crosshair which is at the center of the camera to the object you want to grab.
            The items you pick up and are a part of the agent body. Note that you can only carry one object at a time.
             If you try to grab a second object simultaenously the first object which was picked up will be dropped.
              Also note that objects not highlighted are not pickable. You have to be close enough to an object to pick it up.
                 Try moving closer to the object if you are unable to pick it up. Objects can be dropped anywhere in the scene where there is no collision with another highlighted.
                  Sometimes, looking down at the bin also helps while placing the item!</p>
        
        <p>The task is given as a instruction at the top of the experiment page.</p>

        <div>
            <p>
                To submit your HIT use the Submit HIT button.
            </p>
        </div>

        <p>Please click the Next button when you are ready!</p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

</div>
