<div id="container-instructions">

    <h1>Instructions</h1>
  
    <hr />
  
    <div class="instructions well">
      <p>We are a group of researchers interested in building agents to do every-day tasks. </p>
  
      <p>In this HIT, you will be performing a task in a 3D virtual environment using keyboard controls. </p>
  
      <p> Before you perform the main task described above, you will be given a flythrough of the environment to make you acquainted with the locations.
           You will also be able to practice and become comfortable with the keyboard controls for navigation in the 3D house environment.</p>
  
      <p>You will be prompted to finish a survey once you complete the task. If you complete the task and the survey, you will be rewarded with <b>$x</b>. You will receive a code for payment at the end of the study.</p>
  
        <p>To summarize, you will go through four stages during this HIT:
            <b>
                <ol>
                    <li>Environment flythrough</li>
                    <li>Training task</li>
                    <li>Actual task</li>
                    <li>Survey</li>
                </ol>
            </b>
        </p>  
        <p> In total, your participation in this HIT will take about <b>20-25 minutes</b>.</p>
  
      <b>Important!! </b>
       <ul>
           <li><b>Do not navigate away</b> from the HIT page until the task is complete! Closing or reloading this tab may prevent you from successfully completing this HIT! </li>
           <li> The 3D virtual environment will take approximately <b>2-4 minutes to load</b> in your browser, consisting of a “Downloading” phase and then a “Running” phase. The HIT time estimate and payment account for this load time. </li>
          <li> If you have any problems, please email us instead at <a href="mailto:dummy.email@gmail.com">dummy.email@gmail.com</a> </li>
      <li> The <b>start button will be enabled </b>once downloading has completed.</li>
       </ul>
  
      <p>Please click the Start button when you are ready!</p>
    </div>
  
    <hr />
  
  
</div>